<nav class="navbar">
  <ul class="nav mr-auto">
    <li class="nav-item p-2" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" routerLink="/arrivals">Arrivals</a></li>
    <li class="nav-item p-2" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" routerLink="/departures">Departures</a></li>
  </ul>
  <ul class="nav">
    <li class="nav-item p-2" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}"><a class="nav-link" routerLink="/about">About</a></li>
  </ul>
</nav>

