<table class="table table-sm">
  <thead>
    <tr>
      <th>Status</th>
      <th>Flight</th>
      <th>Destination</th>
      <th>Departure</th>
      <th>Remark</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>LH1897</td>
      <td>Frankfurt</td>
      <td>11:45</td>
      <td>Gate Closed</td>
    </tr>
    <tr>
      <td></td>
      <td>KL2197</td>
      <td>Amsterdam</td>
      <td>11:45</td>
      <td>Boarding</td>
    </tr>
    <tr>
      <td></td>
      <td>BA2012</td>
      <td>London Heathrow</td>
      <td>12:15</td>
      <td>Boarding</td>
    </tr>
    <tr>
      <td></td>
      <td>AF1101</td>
      <td>Paris Charles De Gaulle</td>
      <td>12:15</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>SA6051</td>
      <td>Moscow</td>
      <td>12:20</td>
      <td>Cancelled</td>
    </tr>
  </tbody>
</table>
